.Center1{
    display: flex;
    margin: 0;  
    width: 100%;
    height: 500px;
    background-color: black;
    text-align: center;
}



@media (max-width: 768px) {

  .Center1 {
    width: 100%;
    height: 150px;
    overflow: hidden; 
  }

}