.Mid21{
    width: 100vw;
    height: 750px;
    background-color: white;
}

.Mid22{
    width: 100vw;
    height: 200px; 
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.Zoomtext{
    font-size: 40px;
    color: rgb(243, 56, 56);
    text-align: center;
    animation: zoomInOut 1s infinite ease-in-out;

}


.Mid23{
    width: 100vw;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    grid-template-rows: repeat(1, auto); /* 1 rows */
    flex-direction: row;  /* Stack image and text vertically */
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  
    animation: slideLeft 20s linear infinite;
}

@keyframes slideLeft {
    0% {
      transform: translateX(1%);
    }
    100% {
      transform: translateX(-150%);
    }
}

.Mid2-card {
    display: flex;
    flex-direction: column;  /* Stack image and text vertically */
    width: 14vw;
    height: 380px;
    background-color: #fffafa;
    padding: 60px;
    padding-top: 60px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: 50px;
    margin-top: -40px;
  }
  
.Mid2-image {
    width: 150%;
    align-self: center;
    height: 100%;
    border-radius: 5px;
    margin-top: -50px;
}


.phone-name {
    font-size: 14px;
    font-weight: bold;
   text-align: center;
    color: #333;
    text-transform: uppercase;
  }
  
  .phone-price {
    font-size: 16px;
    color: #333;
  }

  .og-price {
    font-size: 16px;
    color: #333;
    text-decoration: line-through;
    margin-bottom: -10px;
  }
  .sale-price {
    font-size: 16px;
    color: rgb(243, 56, 56);
  }

  .addbutton {
    background-color: white;
    color: rgb(69, 67, 67);
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0%;
    width: 180px;
    margin-top: -5px;
    align-self: center;
}
  
.addbutton:hover {
    background-color: rgb(243, 56, 56);
    color:white;
    border: 1px solid white;
}

/* Sort Dropdown */
.sort-container {
    display: flex;
    align-items: center;
    margin: 30px 70px;
   
  }
  
  .sort-container select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid  #333;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #333;
  }
  
  .sort-container option {
   color:  #333;
   background-color: white;
  }


  
@media (max-width: 768px) {
  .Mid21{
    width: 100%;
    height: 550px;
  }

  .Mid22{
    width: 100%;
    height: 100px; 
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .Mid23{
    width: 100%;
    height: 350px;
    display: grid;
    flex-direction: row;  /* Stack image and text vertically */
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }

  .Mid2-card {
    width: 150px;
    height: 350px;
    padding: 10px;
  }
  
  .Mid2-img-container{
    width: 150px;
    height: 100px;
    object-fit: contain;
  }

  .Mid2-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 0px;
  }


  .Zoomtext{
      font-size: 20px;
  }

  .phone-name {
    font-size: 12px;
  }
  

  .phone-price {
    font-size: 14px;
  }

  .og-price {
    font-size: 14px;
  }

  .sale-price {
    font-size: 14px;
  }

  .addbutton {
    padding: 10px 20px;
    border-radius: 10%;
    width: 120px;
    margin-top: -5px;
    align-self: center;
    font-size: 10px;
}

}
  


  
