.Kart{
    width:100vw;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 130px;
}

.kart1{
    font-size:30px; 
    color: black; 
    text-align:left
}

.kart2{
    font-size:15px; 
    color:grey; 
    text-align:left
}

.container1{
    width:100vw;
    height: 280px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.container2{
    width: 80vw;
    background-color:  rgb(243, 56, 56);
    text-align: center;
    padding: 20px;
}
.container3{
    height: 230px;
    border: 2px solid white;
    background-color: transparent;
}

.container3 p {
    font-size: 15px;
    color: white;
    text-align: center;
}

.about{
    font-size:20px; 
    color:white; 
    text-align: center
}

.Readbutton {
    background-color: white;
    color: rgb(69, 67, 67);
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0%;
    width: 180px;
    margin-top: 20px;
}
  
.Readbutton:hover {
    background-color: rgb(243, 56, 56);
    color:white;
    border: 1px solid white;
}

@media (max-width: 768px) {
    .container1{
        width:100%;
        height: 280px;
    }

    .container2{
        width: 80%;
        border-radius: 5%;
    }

    .container3{
        height: 230px;
        border-radius: 5%;
        padding: 0px 10px;
    }

    .container3 p {
        font-size: 10px;
    }

    .about{
        font-size:15px; 
    }

    .Readbutton {
        padding: 5px 10px;
        width: 100px;
        margin-top: 0px;
        font-size: 10px;
    }

    .Kart{
        width:100%;
        padding: 10px 30px;
    }

    .kart1{
        font-size:20px; 
    }

    .kart2{
        font-size:10px; 
     
    }

}
