.Center{
    width: 100vw;
    height: 50px;
    background-color: rgb(243, 56, 56);
    position: relative;
 
}

.nav-link{
  font-size: 15px;
  color: white;
  margin-left: 50px;
}

.logo-container{
  width: 180px;
  height: 40px;
  margin-left:30px;
  margin-top:10px;
  filter: drop-shadow(2px 2px 2px black);
}

.logo{
  height: 100%;
  width: 100%;
}

.LeftN{
    float: left;
    width:70%;
    height:inherit;
    display: flex;
    justify-content: "center";
    align-items: "center";
    line-height: 50px;   
}


.RightN{
    float: Right;
    width:30%;
    height:inherit;
    justify-content:end; 
    display: flex;
     
}

.search-input{
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  width:40%;
  background-color: rgb(243, 56, 56);
  margin: 5px;
  font-weight: 500px;
}

.search-input::placeholder{
  color: white;
}

.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    margin-right: 20px;
    background: white;
    color: black;
    width: 130px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .user-name {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .signout-btn {
    width: 80%;
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
  }
  
  .signout-btn:hover {
    background: darkred;
  }

.dropdown-menu {
  width: 100vw;
  display: flex;    /* Makes items appear in a row */
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: row;  /* Ensures row layout */
  padding: 10px;
  border-radius: 5px;
  gap: 40px; /* Adds spacing between items */
  z-index: 500;
}

.dropdown-item {
  display: flex;
  flex-direction: column;  /* Stack image and text vertically */
  align-items: center;
  margin: 5px 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 14px;
  margin-left: 70px;
}

.dropdown-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;

}


/* Hover Effect */
.nav-link:hover {
  color: #ffcc00;
}


@media (max-width: 768px) {

  /* Hide desktop links */
  .LeftN .nav-link {
    display: none;
  }
  
  .LeftN {
    justify-content: left;
    align-items: left;
    width: 25%;
  }

  .RightN{
    width: 60%;
    margin-right: 50px;
  }

  /* Hamburger icon */
  .hamburger {
    position: absolute;
    right: 15px;
    top: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
  }

  /* Sidebar */
  .mobile-sidebar {
    position: fixed;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100vh;
    background-color: rgb(243, 56, 56);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .mobile-sidebar.open {
    right: 0;
  }

  .mobile-sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .mobile-sidebar a:hover {
    background-color: rgba(0,0,0,0.15);
  }

  /* Close button */
  .close-btn {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 22px;
    color: white;
    cursor: pointer;
  }

  .LeftN img {
    margin-left: 10px;
  }

  .logo-container{
    width: 100px;
    height: 30px;
    margin-left: 0px;
  }

  .search-input{
    padding: 2px;
    width:100%;
    height: 50%;
    margin: 10px 0px;
    font-size: 12px;
  }

  .mobile-menu-item {
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-submenu {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.mobile-submenu a {
  color: #ddd;
  padding: 8px 0;
  text-decoration: none;
  font-size: 14px;
}

}



