.Full{
    background-color: white;
    width: 100vw;
    min-height: 100vh;
}
.Signupbox{
    width:100vw;
    height:900px;
    background-color: rgb(255, 255, 255);
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
   
    
}

.Signupform{
    width:350px;
    height:570px;
    margin-left: 550px;
    padding-top: 140px;
    background-color: rgb(243, 56, 56);
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 15px;
}


.Signupform input{
  font-size: 15px;
  color: black;
  background-color: white;
  width:230px;
  height: 30px;
  border-radius: 10px;
}

.Signupbtn{
    font-size: 15px;
    background-color: white;
    color: rgb(69, 67, 67);
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-left: 100px;
}
  
.Signupbtn:hover {
    background-color: rgb(243, 56, 56);
    color:white;
    border: 1px solid white;
}

.Signuplink{
    font-size: 15px;
    color: white;
    margin-left: 120px;
    text-align: center;
}

.Signuplink:hover{
    color:black;
}

.Signuplink2{
    font-size: 15px;
    color: white;
    margin-left: 150px;
    text-align: center;
}

.Signuplink2:hover{
    color:black;
}